<div class="navbar">
  <a class="active" href="{% url 'home:home' %}"><i class="material-icons">home</i></a>
  <div class="dropdown">
    <button class="dropbtn">Projects
      <i class="fa fa-caret-down"></i>
    </button>
    <div class="dropdown-content">
      <a href="{% url 'polls:index' %}">Polls</a>
      <a href="#">TODO Pathfinder</a>
    </div>
  </div>
  <div class="dropdown">
    <button class="dropbtn">Advent of Code
      <i class="fa fa-caret-down"></i>
    </button>
    <div class="dropdown-content">
      <a href="#">2020</a>
    </div>
  </div>

  <a style="float:right" href="#about">TODO About</a></li>
  <a style="float:right" href="https://github.com/riggedCoinflip">GitHub</a></li>
</div>