{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <title>
        {% block title %} myDjango {% endblock %}
    </title>
    <link rel="stylesheet" type="text/css" href="{% static 'home/navbar.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'polls/style.css' %}">
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
  </head>
  <body>
    {% include "home/navbar.html" %}
    <div class="row">
      <div class="column left">
          {% block content %}
          {% endblock %}
      </div>
      <div class="column right">
          {% include "./recent_polls.html" %}
      </div>
    </div>
  </body>
</html>