{% extends "./base_with_sidebar.html" %}
{% load static %}


{% block title %} {{ question.question_text }} {% endblock %}


{% block content %}
  <div>
    <h1>{{ question.question_text }}</h1><br>
    by
    {% if question.author %}
      {{ question.author }}
    {% else %}
      Anonymous
    {% endif %}



    {% if error_message %}<p><strong>{{ error_message }}</strong></p>{% endif %}

    <form class="answer-question" action="{% url 'polls:vote' question.id %}" method="post">
      {% csrf_token %}
      {% for choice in question.choice_set.all %}
        <div class="answer-question-item">
          <input type="radio" name="choice" id="choice{{ forloop.counter }}" value="{{ choice.id }}">
          <label for="choice{{ forloop.counter }}">{{ choice.choice_text }}</label>
        </div>
      {% endfor %}
      <div class="answer-question-item">
        <input type="submit" value="Vote">
      </div>
    </form>
  </div>

  {% include "./button_to_index.html" %}
{% endblock %}

