{% extends "polls/base_with_sidebar.html" %}
{% load static %}
{% load crispy_forms_filters %}

{% block title %} Home {% endblock %}


{% block content %}
  <form class="submit-question" action="" method="post">
    {% csrf_token %}
    {{ form|crispy }}
    {% for formset in inlines %}
      {{ formset|crispy }}
    {% endfor %}
    <div class="d-flex justify-content-around">
      <div>
        <input class="submit-question-item btn btn-primary" type="submit" value="Submit Question"/>
      </div>
      {% include "polls/button_to_index.html" %}
    </div>
  </form>
{% endblock %}
