<div>
  <button id='copyToClipboard' type="button" class="btn btn-danger" data-bs-toggle="popover" title="Copy URL"
          data-bs-html="true" data-bs-sanitize="false"
          data-bs-content="
    <h1> works1gggggggggggggggggggggggggg </h1>
    <div>works2</div>
    <span>works3</span>
    <em>works4</em>
    <input type='text' value='does not work' id='myInput'>
    <button type='button' onclick='copyToClipboard()'>does not work</button>
    hgzubi
  ">
    Share!
  </button>
</div>
<!-- <input type='text' value='{{ request.build_absolute_uri }}' id='myInput'>
    <button onclick='copyToClipboard()'>Copy text</button>" -->