<div>
    <button
        id="copyToClipboard"
        type="button"
        class="btn btn-danger"
        title="Copy URL"
        data-bs-toggle="popover"
        data-bs-trigger="click"
        data-bs-html="true"
        data-bs-content="
<div class='container'>
    <div class='row'>
        <div class='col g-0'>
            <textarea class='border border-2 rounded' id='textToCopy' style='resize: none;' cols='20' rows='1'
                wrap='off' readonly onclick='this.select()'>{{ request.build_absolute_uri }}</textarea>
        </div>
        <div class='col g-0'>
            <button type='button' class='btn btn-outline-primary' onclick='copyToClipboard()'>
                <em class='far fa-copy' style='font-size=1.5em;'></em>
            </button>
        </div>
    </div>
</div>
"
    >
        Share!
    </button>
</div>
