{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
  <!-- Required meta tags -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

  {% include 'favicon.html' %}

  {% block stylesheets %}
    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-giJF6kkoqNQ00vy+HMDP7azOuL0xtbfIcaT9wjKHr8RbDVddVHyTfAAsrekwKmP1" crossorigin="anonymous">
  {% endblock %}

  <title>{% block title %} myDjango {% endblock %}</title>

</head>
<body>

<header class="header">
  {% block header %}
    Cookie Consent
    {% block navbar %}
      {% include 'core/navbar.html' %}
    {% endblock %}
  {% endblock %}
</header>


<main class="main">
  <div class="container-fluid">
    <div class="row py-3">
      <!-- empty col for centering -->
      <div class="col-sm-0 col-md-2"></div>
      <div class="content col-sm-12 col-md-8" id="content">
        {% block content %}{% endblock %}
      </div>
      <!-- hr only on small devices -->
      <div class="d-md-none"><hr></div>
      <nav class="navbar col-sm-12 col-md-2" id="sticky sidebar">
        {% block sidebar %}{% endblock %}
      </nav>
    </div>
  </div>
</main>


<footer class="footer">
  {% block footer %}
    {% include 'core/footer.html' %}
  {% endblock %}
</footer>


<!-- Bootstrap Bundle with Popper -->
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-ygbV9kiqUc6oa4msXn9868pTtWMgiQaeYH7/t7LECLbyPA2x65Kgf80OJFdroafW"
        crossorigin="anonymous"></script>

<!-- Fontawesome -->
<script src="https://kit.fontawesome.com/fe62960140.js" crossorigin="anonymous"></script>
</body>
</html>