{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
  <!-- Required meta tags -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

  {% include 'favicon.html' %}

  {% block stylesheets %}
    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-giJF6kkoqNQ00vy+HMDP7azOuL0xtbfIcaT9wjKHr8RbDVddVHyTfAAsrekwKmP1" crossorigin="anonymous">
  {% endblock %}

  <title>{% block title %} myDjango {% endblock %}</title>

</head>
<body>

<header class="header">
  {% block header %}
    Cookie Consent
    {% block navbar %}
      {% include 'core/navbar.html' %}
    {% endblock %}
  {% endblock %}
</header>

<main class="main">
  {% block main %}
    <div class="content">
      {% block content %}
        content
      {% endblock %}
    </div>
  {% endblock %}
</main>

<footer class="footer">
  <!-- TODO make footer even prettier -->
  <nav class="navbar navbar-dark bg-dark">
    <div class="container-fluid">
      <!-- Left -->
      <div class="navbar-nav me-auto">
        <a href="https://github.com/riggedCoinflip/mydjango">
          <em id="social-github" class="fab fa-github-square fa-3x"></em>
        </a>
        <a href="mailto:tikalker@gmail.com"><em id="social-mailto" class="fas fa-envelope-square fa-3x"></em></a>
      </div>
      <!-- Right -->
      <div class="">
        <ul class="navbar-nav ms-auto">
          <li>
            <a class="nav-link" href="">Terms of Use</a>
          </li>
          <li>
            <a class="nav-link" href="">Privacy Policy</a>
          </li>
          <li>
            <a class="nav-link" href="">About</a>
          </li>
          <li>
            <a class="nav-link" href="{% url 'core:legal' %}">Impressum</a>
          </li>
        </ul>
      </div>
    </div>
  </nav>
</footer>


<!-- Bootstrap Bundle with Popper -->
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-ygbV9kiqUc6oa4msXn9868pTtWMgiQaeYH7/t7LECLbyPA2x65Kgf80OJFdroafW"
        crossorigin="anonymous"></script>

<!-- Fontawesome -->
<script src="https://kit.fontawesome.com/fe62960140.js" crossorigin="anonymous"></script>
</body>
</html>