{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
  <!-- Required meta tags -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

  {% include 'favicon.html' %}

  {% block stylesheets %}
    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-giJF6kkoqNQ00vy+HMDP7azOuL0xtbfIcaT9wjKHr8RbDVddVHyTfAAsrekwKmP1" crossorigin="anonymous">
  {% endblock %}

  <title>{% block title %} myDjango {% endblock %}</title>

</head>
<body>

<header class="header">
  {% block header %}
    <div class="navbar">
      {% block navbar %}
        <div class="navbar">
          <div class="navbar-item"><a href="{% url 'core:index' %}">Home</a></div>
          <div class="navbar-item"><a href="{% url 'polls:index' %}">Polls</a></div>
          <div class="navbar-item"><a href="https://github.com/riggedCoinflip/mydjango">GitHub</a></div>
          <div class="navbar-item signup"><a href="{% url 'core:signup' %}">Signup</a></div>
          <div class="navbar-item">
            {% if user.is_authenticated %}
              {{ user.username }}<br>
              <a href="{% url 'core:logout' %}">Logout</a>
            {% else %}
              <a href="{% url 'core:login' %}">Login</a>
            {% endif %}
          </div>
        </div>
      {% endblock %}
    </div>
  {% endblock %}
</header>

<main class="main">
  {% block main %}
    <div class="content">
      {% block content %}
        content
      {% endblock %}
    </div>
  {% endblock %}
</main>

<footer class="footer">
  {% block footer %}
    <div class="footer-item">terms of use</div>
    <div class="footer-item">privacy policy</div>
    <div class="footer-item">about</div>
    <div class="footer-item"><a href="{% url 'core:legal' %}">Impressum</a></div>
  {% endblock %}
</footer>


<!-- Bootstrap Bundle with Popper -->
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-ygbV9kiqUc6oa4msXn9868pTtWMgiQaeYH7/t7LECLbyPA2x65Kgf80OJFdroafW"
        crossorigin="anonymous"></script>
</body>
</html>