{% extends 'core/base.html' %}

{% block title %} {{ user.username }} {% endblock %}

{% block content %}
  <div class="container-fluid">
    <div class="row">

      <div class="col-auto">
        <img src="{{ user.avatar.url }}" class="rounded-circle" alt="" aria-label="Avatar of {{ user.username }}"
             width="250" height="250">
      </div>
      <div class="col">
        <h1 class="text-center">{{ user.username }}</h1>
        {% if user.github_name %}
        <p>
          <a class="text-reset text-decoration-none" href="https://www.github.com/{{ user.github_name }}" target="_blank">
            <em class="fab fa-github fa-2x"></em>
            <strong style="font-size: 1.5em">/{{ user.github_name }}</strong>
          </a>
        </p>
      {% endif %}
        <p class="border-1 border-secondary mt-2">
          {{ user.about_text }}
        </p>

      </div>

    </div>
  </div>



  <br>

{% endblock %}
