{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  {% include 'favicon.html' %}
  <title>{% block title %} myDjango {% endblock %}</title>
  {% block stylesheets %}
    <link rel="stylesheet" type="text/css" href="{% static 'polls/css/base.css' %}">
  {% endblock %}
</head>
<body>
<header class="header">
  {% block header %}
    {% include './header.html' %}
  {% endblock %}
</header>
<main class="main">
  {% block main %}
    <div class="content">
      {% block content %} content {% endblock %}
    </div>
  {% endblock %}
</main>
<footer class="footer">
  {% include './footer.html' %}
</footer>
</body>
</html>