{% extends "core/base.html" %}
{% load static %}

{% block stylesheets %}
  <!-- rotating circle -->
  <link href="{% static 'core/css/rotate-circle.css' %}" rel="stylesheet">
{% endblock %}

{% block title %} rigged Coinflip {% endblock %}

{% block content %}
  <h1 class="text-center text-primary">whoami</h1>
  <p>
    <img src="{% static "core/images/bewerbungsfoto_zentriert_gerundet.png" %}"
         class="img-fluid rounded float-start pe-3 pb-1"
         width="25%"/>
    {% lorem p %}
    {% lorem p %}
    {% lorem p %}
    {% lorem p %}
  </p>



  <!-- Skills Table -->
  <h2 class="text-center">Meine Fähigkeiten</h2>

  <!-- spinning Logo Circle -->
  <div class="ring-wrapper">
    <div id="layer-1" class="ring layer-1">
      <div class="ring-display">
        <div class="label"><img src="{% static 'core/images/springboot-logo.svg' %}" height="45px"
                                alt="A logo of Springboot"></div>
        <div class="label"><img src="{% static 'core/images/java-logo.svg' %}" height="45px" alt="A logo of Java"></div>
        <div class="label"><img src="{% static 'core/images/postman-logo.svg' %}" height="45px" alt="A logo of Postman">
        </div>
        <div class="label"><img src="{% static 'core/images/git-logo.svg' %}" height="45px" alt="A logo of Git"></div>
        <div class="label"><img src="{% static 'core/images/heroku-logo.svg' %}" height="45px" alt="A logo of Heroku">
        </div>
        <div class="label"><img src="{% static 'core/images/github-logo.svg' %}" height="45px" alt="A logo of Github">
        </div>
        <div class="label"><img src="{% static 'core/images/django-logo.svg' %}" height="45px" alt="A logo of Django">
        </div>
        <div class="label"><img src="{% static 'core/images/python-logo.svg' %}" height="45px" alt="A logo of Python">
        </div>
        <div class="label"><img src="{% static 'core/images/bootstrap-logo.svg' %}" height="45px"
                                alt="A logo of Bootstrap"></div>
        <div class="label"><img src="{% static 'core/images/js-logo.svg' %}" height="45px" alt="A logo of JS"></div>
        <div class="label"><img src="{% static 'core/images/css-3-logo.svg' %}" height="45px" alt="A logo of CSS3">
        </div>
        <div class="label"><img src="{% static 'core/images/html5-logo.svg' %}" height="45px" alt="A logo of HTML">
        </div>
      </div>
      <div class="interaction"></div>
      <div class="container h-100">
        <div class="row h-100 justify-content-center align-items-center">
          <div class="col-12 text-center">
            <img src="{% static 'core/images/logo-coin.png' %}" height="300px" alt="The Websites Logo, a Coin"></div>
        </div>
      </div>
    </div>
  </div>



  <table class="table" aria-label="A list showing my skills in various technologies with 0-5 filled boxes"
         aria-colcount="2">
    <thead class="d-none">
    <tr>
      <th scope="col">Skill</th>
      <th scope="col">Rating</th>
    </tr>
    </thead>
    <tbody>
    <tr>
      <td>HTML5</td>
      <td aria-label="3/5">
        <span class="fas fa-square text-primary"></span>
        <span class="fas fa-square text-primary"></span>
        <span class="fas fa-square text-primary"></span>
        <span class="fas fa-square text-primary"></span>
        <span class="far fa-square text-secondary"></span>
      </td>
    </tr>
    <tr>
      <td>CSS3</td>
      <td>
        <span class="fas fa-square text-primary"></span>
        <span class="fas fa-square text-primary"></span>
        <span class="fas fa-square text-primary"></span>
        <span class="far fa-square text-secondary"></span>
        <span class="far fa-square text-secondary"></span>
      </td>
    </tr>
    <tr>
      <td>JS</td>
      <td>
        <span class="fas fa-square text-primary"></span>
        <span class="fas fa-square text-primary"></span>
        <span class="far fa-square text-secondary"></span>
        <span class="far fa-square text-secondary"></span>
        <span class="far fa-square text-secondary"></span>
      </td>
    </tr>
    <tr>
      <td>Bootstrap5</td>
      <td>
        <span class="fas fa-square text-primary"></span>
        <span class="fas fa-square text-primary"></span>
        <span class="fas fa-square text-primary"></span>
        <span class="far fa-square text-secondary"></span>
        <span class="far fa-square text-secondary"></span>
      </td>
    </tr>
    <tr>
      <td>Python</td>
      <td>
        <span class="fas fa-square text-primary"></span>
        <span class="fas fa-square text-primary"></span>
        <span class="fas fa-square text-primary"></span>
        <span class="fas fa-square text-primary"></span>
        <span class="far fa-square text-secondary"></span>
      </td>
    </tr>
    <tr>
      <td>Django</td>
      <td>
        <span class="fas fa-square text-primary"></span>
        <span class="fas fa-square text-primary"></span>
        <span class="fas fa-square text-primary"></span>
        <span class="far fa-square text-secondary"></span>
        <span class="far fa-square text-secondary"></span>
      </td>
    </tr>
    <tr>
      <td>SQL/Postgres</td>
      <td>
        <span class="fas fa-square text-primary"></span>
        <span class="fas fa-square text-primary"></span>
        <span class="fas fa-square text-primary"></span>
        <span class="far fa-square text-secondary"></span>
        <span class="far fa-square text-secondary"></span>
      </td>
    </tr>
    <tr>
      <td>Gunicorn</td>
      <td>
        <span class="fas fa-square text-primary"></span>
        <span class="far fa-square text-secondary"></span>
        <span class="far fa-square text-secondary"></span>
        <span class="far fa-square text-secondary"></span>
        <span class="far fa-square text-secondary"></span>
      </td>
    </tr>
    <tr>
      <td>Heroku</td>
      <td>
        <span class="fas fa-square text-primary"></span>
        <span class="fas fa-square text-primary"></span>
        <span class="far fa-square text-secondary"></span>
        <span class="far fa-square text-secondary"></span>
        <span class="far fa-square text-secondary"></span>
      </td>
    </tr>
    <tr>
      <td>Git</td>
      <td>
        <span class="fas fa-square text-primary"></span>
        <span class="fas fa-square text-primary"></span>
        <span class="fas fa-square text-primary"></span>
        <span class="fas fa-square text-primary"></span>
        <span class="far fa-square text-secondary"></span>
      </td>
    </tr>
    <tr>
      <td>Github Actions</td>
      <td>
        <span class="fas fa-square text-primary"></span>
        <span class="fas fa-square text-primary"></span>
        <span class="fas fa-square text-primary"></span>
        <span class="far fa-square text-secondary"></span>
        <span class="far fa-square text-secondary"></span>
      </td>
    </tr>
    <tr>
      <td>REST API</td>
      <td>
        <span class="fas fa-square text-primary"></span>
        <span class="fas fa-square text-primary"></span>
        <span class="fas fa-square text-primary"></span>
        <span class="far fa-square text-secondary"></span>
        <span class="far fa-square text-secondary"></span>
      </td>
    </tr>
    <tr>
      <td>Postman</td>
      <td>
        <span class="fas fa-square text-primary"></span>
        <span class="fas fa-square text-primary"></span>
        <span class="far fa-square text-secondary"></span>
        <span class="far fa-square text-secondary"></span>
        <span class="far fa-square text-secondary"></span>
      </td>
    </tr>
    <tr>
      <td>Java</td>
      <td>
        <span class="fas fa-square text-primary"></span>
        <span class="fas fa-square text-primary"></span>
        <span class="far fa-square text-secondary"></span>
        <span class="far fa-square text-secondary"></span>
        <span class="far fa-square text-secondary"></span>
      </td>
    </tr>
    <tr>
      <td>Springboot</td>
      <td>
        <span class="fas fa-square text-primary"></span>
        <span class="far fa-square text-secondary"></span>
        <span class="far fa-square text-secondary"></span>
        <span class="far fa-square text-secondary"></span>
        <span class="far fa-square text-secondary"></span>
      </td>
    </tr>
    <tr>
      <td>Modellierung</td>
      <td>
        <span class="fas fa-square text-primary"></span>
        <span class="fas fa-square text-primary"></span>
        <span class="fas fa-square text-primary"></span>
        <span class="far fa-square text-secondary"></span>
        <span class="far fa-square text-secondary"></span>
      </td>
    </tr>
    <tr>
      <td>BWL</td>
      <td>
        <span class="fas fa-square text-primary"></span>
        <span class="fas fa-square text-primary"></span>
        <span class="far fa-square text-secondary"></span>
        <span class="far fa-square text-secondary"></span>
        <span class="far fa-square text-secondary"></span>
      </td>
    </tr>
    <tr>
      <td>SAP</td>
      <td>
        <span class="fas fa-square text-primary"></span>
        <span class="far fa-square text-secondary"></span>
        <span class="far fa-square text-secondary"></span>
        <span class="far fa-square text-secondary"></span>
        <span class="far fa-square text-secondary"></span>
      </td>
    </tr>
    <tr>
      <td>German</td>
      <td>
        <span class="fas fa-square text-primary"></span>
        <span class="fas fa-square text-primary"></span>
        <span class="fas fa-square text-primary"></span>
        <span class="fas fa-square text-primary"></span>
        <span class="fas fa-square text-primary"></span>
      </td>
    </tr>
    <tr>
      <td>English</td>
      <td>
        <span class="fas fa-square text-primary"></span>
        <span class="fas fa-square text-primary"></span>
        <span class="fas fa-square text-primary"></span>
        <span class="fas fa-square text-primary"></span>
        <span class="far fa-square text-secondary"></span>
      </td>
    </tr>
  </table>
  <!-- end Skills Table -->
  <div class="pb-4"></div>

  <h1 class="text-center">Lebenslauf</h1>
  <div class="container-fluid pb-4">
    <div class="row">
      <div class="col-12 col-lg-4">
        <div class="border rounded p-1 h-100">
          <div class="text-center">
            <h4>TH Köln</h4>
            10/2017 - jetzt
            <h5>Wirtschaftsinformatik</h5>
          </div>
          <ul>
            <li>Oracle DB + PLSQL</li>
            <li>Bestes Team der TH Köln Datenbankmesse 2019</li>
            <li>Projektmanagement</li>
            <li>SAP</li>
            <li>BWL</li>
            <li>Modellierung von Systemen (UML, BPMN, DMN, Mockups)</li>
          </ul>
        </div>
      </div>
      <div class="col-12 col-lg-4 my-1 my-lg-0">
        <div class="border rounded mx-lg-1 p-1 h-100">
          <div class="text-center">
            <h4>Mobile2B GmbH</h4>
            04/2020 - 06/2020
            <h5>Softwaredeveloper Backend</h5>
          </div>
          <ul>
            <li>Java Springboot Backend-Softwareentwicklung</li>
            <li>Entwicklung von Restful API Schnittstellen</li>
            <li>Analyse, Design, Entwicklung sowie Tests von Applikationen und Services</li>
          </ul>
        </div>
      </div>
      <div class="col-12 col-lg-4">
        <div class="border rounded p-1 h-100">
          <div class="text-center">
            <h4>Marienschule Euskirchen</h4>
            2009 - 2017
            <h5>Abitur</h5>
          </div>
          <ul>
            <li>Abitur: 2,3</li>
            <li>Informatik ab Stufe 8</li>
            <li>Leistungsfächer: Mathematik und Biologie</li>
            <li>Teilnahme an zahlreichen Mathematikwettbewerben</li>
          </ul>
        </div>
      </div>
    </div>
  </div>


  <h1 class="text-center">Apps</h1>
  <!-- Carousel wrapper -->
  <div id="carouselApps" class="carousel slide" data-bs-ride="carousel">
    <!-- Indicators -->
    <ol class="carousel-indicators">
      <li data-bs-target="#carouselApps" data-bs-slide-to="0" class="active"></li>
      <li data-bs-target="#carouselApps" data-bs-slide-to="1"></li>
      <li data-bs-target="#carouselApps" data-bs-slide-to="2"></li>
    </ol>

    <!-- Inner -->
    <div class="carousel-inner">
      <!-- Single item -->
      <div class="carousel-item active">
        <a href="{% url 'polls:index' %}">
          <img
              src="{% static 'core/images/polls.png' %}"
              class="d-block w-100"
              alt="..."
          />
        </a>
        <div class="carousel-caption d-none d-md-block">
          <h5>Polls</h5>
          <p>Create your own polls or vote in other users polls.</p>
        </div>
      </div>

      <!-- Single item -->
      <div class="carousel-item">
        <a href="{% url 'aoc:index' %}">
          <img
              src="{% static 'core/images/AoCExample.png' %}"
              class="d-block w-100"
              alt="..."
          />
        </a>

        <div class="carousel-caption d-none d-md-block">
          <h5>Advent of Code</h5>
          <p>See my solutions for the 2020 Advent of Code.</p>
        </div>
      </div>

      <!-- Single item -->
      <div class="carousel-item">
        <a href="{% url 'aoc:index' %}">
          <img
              src="https://mdbootstrap.com/img/Photos/Slides/img%20(23).jpg"
              class="d-block w-100"
              alt="..."
          />
        </a>
        <div class="carousel-caption d-none d-md-block">
          <h5>Third slide label</h5>
          <p>Praesent commodo cursus magna, vel scelerisque nisl consectetur.</p>
        </div>
      </div>
    </div>
    <!-- Inner -->

    <!-- Controls -->
    <a class="carousel-control-prev" href="#carouselApps" role="button" data-bs-slide="prev">
      <span class="carousel-control-prev-icon text-dark" aria-hidden="true"></span>
      <span class="visually-hidden">Previous</span>
    </a>
    <a class="carousel-control-next" href="#carouselApps" role="button" data-bs-slide="next">
      <span class="carousel-control-next-icon text-dark" aria-hidden="true"></span>
      <span class="visually-hidden">Next</span>
    </a>
  </div>
  <!-- end Carousel wrapper -->

{% endblock %}

{% block scripts %}
  <!-- rotating circle -->
  <script src="{% static 'core/js/rotate-circle.js' %}"></script>
{% endblock %}