{% extends "core/base.html" %}
{% load static %}

{% block title %} rigged Coinflip {% endblock %}

{% block content %}
  <p>
  <h1>Techstack</h1>
  <ul>
    <li>HTML5</li>
    <li>CSS3</li>
    <li>Django (Python)</li>
    <li>Postgres</li>
    <li>Github Actions</li>
    <li>Gunicorn</li>
    <li>Heroku</li>
    <li>Bootstrap5</li>
  </ul>
  </p>
  <p>
  <h2>Other Technologies</h2>
  <ul>
  <li>Java + Springboot</li>
  <li>REST API</li>
  <li>Postman</li>
  <li>Git</li>
  </ul>
  <h1>Words about me</h1>
  {% lorem p %}
  </p>





{% endblock %}