{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  {% include 'favicon.html' %}
  <title>{% block title %} myDjango {% endblock %}</title>
  {% block stylesheets %}
    <link rel="stylesheet" type="text/css" href="{% static 'polls/css/base.css' %}">
  {% endblock %}
</head>
<body>
<header class="header">
  {% block header %}
    {% include './header.html' %}
  {% endblock %}
</header>
<main class="main">
  <div class="content">
    {% block content %} content {% endblock %}
  </div>
  <div class="sidebar">
    {% block sidebar %} sidebar {% endblock %}
  </div>
</main>
<footer class="footer">
  <div class="footer-item">terms of use</div>
  <div class="footer-item">privacy policy</div>
  <div class="footer-item">about</div>
  <div class="footer-item">etc</div>
</footer>
</body>
</html>