{% extends 'core/base.html' %}

{% block title %} Welcome! {% endblock %}

{% block content %}
    <h1>Welcome, {{ user.username }}!</h1><br>
    <h3>Thank you for joining our page!</h3><br>
    <p>
        We sent you a verification email. Please look into your spam folder as well. Verifying your email will allow you
        to use more features in the future!
    </p>
    <p>
        You can change your settings and your general appearance <a href="{% url "settings:index" %}">here</a>
    </p>
    <p>
        Go to <a href="{% url "polls:index" %}">Polls</a> to vote on active polls or create your very own one.
    </p>
{% endblock %}